@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	background-color: #050505;
	font-family: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

body {
	overflow-x: hidden;
	position: relative;
}

.loading-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;

	.is-loading-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

@keyframes rotateIconFirstTime {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes rotateIconSecondTime {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(360deg);
	}
}