.pc-nav {
    display: grid;
    grid-template: 74px / 25% 50% 25%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 40;
    position: relative;

    .logo-wrapper {
        width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
    }

    .menu-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        width: 100%;

        .menu-ul {
            width: 100%;
            min-width: 400px;
            max-width: 500px;
            list-style: none;
            display: flex;
            justify-content: space-between;


            .ul-li {
                .li-link-component {
                    align-items: center;
                    cursor: pointer;
                    text-decoration: none;

                    .li-text {
                        color: white;
                        opacity: 0.75;
                        font-size: 14px;
                        text-decoration: none;
                    }

                    .li-text:hover {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    .active-text {
                        background: linear-gradient(90deg, #31C3FF 0%, #BC35FE 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        opacity: 1;
                    }
                }
            }

            
        }
    }
}

@media only screen and (max-width: 799px) {
    .pc-nav {
        display: none;
    }
}